<!-- <ul>
  <li *ngFor="let t of tenders">
      <span class="badge">{{t.id}}</span> {{t.title}}
  </li>
</ul> -->

<mat-table [dataSource]="dataSource" matSort>
  <!-- ID Column -->
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
  </ng-container>

  <!-- Progress Column -->
  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.amount}} грн </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;">
  </mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="pageSizeOptions" [length]="resultSize"
(page)="loadList(false)"></mat-paginator>